$sidebar-width: 280px;

//行動版
.sidebar {
    width: $sidebar-width;
    margin-left: -$sidebar-width;
    transition: margin-left 1s;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    // 
    .sidebar-link {
        color: $dark;
        display: block;
        text-decoration: none;
        padding-top: 0.875rem;
        padding-bottom: 0.875rem;
        &:hover {
            font-weight: bolder;
            background-color: rgba($pink,0.16);
        }
    }
    .sidebar-link.active {
        position: relative;
        color: $purple !important;
        background-color: rgba($pink, 0.16);
        font-weight: bolder;
        &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 2px;
        height: 100%;
        width: 5px;
        background: $purple;
        }
    }
}
.main {
    width: 100%;
}

//展開 sidebar 行動版
.sidebar-toggled {
    .sidebar {
        margin-left: 0;
    }
    .main {
        margin-left: $sidebar-width;
    }
}

//桌面版(up 中斷點)
@include media-breakpoint-up(lg) {
    .sidebar {
        margin-left: 0;
        width: $sidebar-width;
    }
    
    .main {
        width: calc( 100vw - #{ $sidebar-width });
        margin-left: $sidebar-width;
        transition: margin-left 1s ;
    }
    // 展開
    .sidebar-toggled {
        .sidebar {
            margin-left: -$sidebar-width ;
        }
        .main {
            width: 100%;
            margin-left: 0;
        }
    }
}